# 4.5. Data Consistency Checks

### This script contains the following points:

### 01. Mixed-type data
### 02. Missing values
##### 2.1. Addressing Missing Values
##### 2.2. Alternatives to drop all missing values
### 03. Finding Duplicates
##### 3.1. Addressing Duplicates
### 04. Exporting dataframe to csv.file
### ---- Task 4.4. ----

In [3]:
# Import libararies
import pandas as pd
import numpy as np
import os

In [4]:
# folder path to main project folder
path = r'C:\Users\ThinkPad T570\Documents\01-2024 Instacart Basket Analysis'

In [5]:
# importing products.csv datafram
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

## 01. Mixed-type data

In [7]:
# create a dataframe
df_test = pd.DataFrame()

In [8]:
# Create a mixed-type column
df_test ['mix']=['a', 'b', 1, True]

In [9]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [10]:
# checking whether a dataframe contains any mixed-type columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print(col)

mix

In [11]:
df_test['mix'] = df_test['mix'].astype('str')

## 02. Missing Values

In [12]:
# check for missing values in df_prods
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
# view missing observations
df_nan = df_prods[df_prods['product_name'].isnull()==True]

In [14]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

### 2.1. Addressing Missing Values

In [15]:
# shape function for returning the number of rows and columns in a dataframe
df_prods.shape

(49693, 5)

In [16]:
# creating a new dataframe with all non-missing observations
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [17]:
df_prods_clean.shape

(49677, 5)

### 2.2. Alternatives to drop all missing values

In [20]:
# df_prods.dropna(inplace = True)
# to drop only the NaNs from a particular column
# df_prods.dropna(subset = [‘product_name’], inplace = True)

## 03. Finding Duplicates

In [18]:
# Looking for full duplicates within a dataframe
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [19]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

### 3.1. Addressing Duplicates

In [20]:
df_prods_clean.shape

(49677, 5)

In [21]:
# deleting duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [22]:
df_prods_clean_no_dups.shape

(49672, 5)

## 04. Exporting dataframe to csv.file

In [27]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

#  ----- Task 4.4. -----

In [23]:
# importing orders_wrangled.csv datafram
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

### 01. Interpretation of output

In [24]:
# view of the dataframe (top section)
df_ords.head()

,Unnamed: 0,order_identifier,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [53]:
df_ords.shape

(3421083, 7)

In [25]:
# descriptive statistics
df_ords.describe()

,Unnamed: 0,order_identifier,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

Answer: the max.value of the user_id column shouldn't be float data types (numbers with decimal points). Also the max.value in the "days_since_prior_order" should be higher than 3 days.

## 02. Checking for mixed-type data

In [28]:
# checking whether dataframe contains any mixed-type columns  
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

Comment: syntax was executed; no output seen (no "mix" value displayed)

In [44]:
# df_test['mix'] = df_test['mix'].astype('str')

## 03. Missing Values

In [47]:
# Task 5: check for missing values in df_ords
df_ords.isnull().sum()

Unnamed: 0                     0
order_identifier               0
user_id                        0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [46]:
df_ords.shape

(3421083, 7)

### 3.1. Addressing Missing Values

In [29]:
# creating a subset of the dataframe containing only the values in question
df_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [30]:
df_nan.head()

,Unnamed: 0,order_identifier,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
11,11,2168274,2,1,2,11,NaN
26,26,1374495,3,1,1,14,NaN
39,39,3343014,4,1,6,11,NaN
45,45,2717275,5,1,3,12,NaN

In [38]:
# calculating the mean for the 'days_since_prior_order' column
mean_value = df_ords['days_since_prior_order'].mean()

In [45]:
# Task 6: Address the missing values using an appropriate method
df_ords['days_since_prior_order'].fillna(mean_value, inplace = True)

Answer: there have been over 200k observations (rows) without a reference to the days_since_prior_order column. Imputing the mean value to the NaN cells offers a way on how to further work with those observations with no entry in this specific column.

In [43]:
# re-check for missing values in df_ords_clean
df_ords.isnull().sum()

Unnamed: 0                0
order_identifier          0
user_id                   0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [50]:
df_ords.head()

,Unnamed: 0,order_identifier,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,11.114836
1,1,2398795,1,2,3,7,15.000000
2,2,473747,1,3,3,12,21.000000
3,3,2254736,1,4,4,7,29.000000
4,4,431534,1,5,4,15,28.000000

## 04. Finding Duplicates

In [47]:
# Task 7: Run a check for duplicate values in the df_ords dataframe
df_ords_dups = df_ords[df_ords.duplicated()]

In [49]:
df_ords_dups.head()

Empty DataFrame
Columns: [Unnamed: 0, order_identifier, user_id, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [ ]:
# Task 8: Address the duplicates using an appropriate method

In [52]:
df_ords.shape

(3421083, 7)

## 05. Exporting dataframe

In [54]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))