# 4.6: Combining & Exporting Data

### This scripts contains the following points:

##### 01. Importing combinded dataframe & output check

##### 02. Merging Data

##### 03. Export

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# folder path to main project folder
path = r'C:\Users\ThinkPad T570\Documents\01-2024 Instacart Basket Analysis'

#### 01. Importing combined dataframe & output check

In [4]:
# importing orders_products_combined dataframe
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
# Checking the shape & output of the imported dataframe
df_orders_products_combined.shape

(32434489, 11)

In [7]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

#### 02. Merging Data

In [9]:
# importing products_checked.csv dataframe
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [11]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_prods_checked.shape

(49672, 6)

In [18]:
# merging orders_products_combined on prods_checked dataframe using the product_id as identifier
df_ords_prods_merge = df_prods_checked.merge(df_orders_products_combined, on = 'product_id')

In [19]:
df_ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [20]:
# confirming matching by using merge flag
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

#### 03. Exporting

In [21]:
# Exporting data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))