# 4.7: Deriving New Variables

### This script contains the following points:Â¶

##### 01. Importing Data and Creating a Subset
##### 02. If-Statement with the loc() Function
##### 03. If-Statements with For-Loops
##### 04.  ---- Task 4.7. ----

### 01. Importing Data and Creating a Subset

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# folder path to main project folder
path = r'C:\Users\ThinkPad T570\Documents\01-2024 Instacart Basket Analysis'

In [5]:
# importing orders_products_merged dataframe
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [6]:
df_ords_prods_merged.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

In [13]:
print(df_ords_prods_merged.columns)

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices', 'order_id', 'user_id', 'eval_set', 'order_number',
       'order_dow', 'order_hour_of_day', 'days_since_prior_order',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [14]:
# dropping the "unnamed" column in the df
df_ords_prods_merged_new = df_ords_prods_merged.drop('Unnamed: 0', axis='columns')

In [21]:
# creating a subset
df_ords_prods_merged_sub = df_ords_prods_merged[:1000000]

In [22]:
df_ords_prods_merged_sub.shape

(1000000, 16)

### 02. If-Statement with the loc() Function

In [25]:
# sorting products into price ranges
df_ords_prods_merged_sub.loc[df_ords_prods_merged_new['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [27]:
df_ords_prods_merged_sub.loc[(df_ords_prods_merged_new['prices'] <= 15) & (df_ords_prods_merged_new['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [28]:
df_ords_prods_merged_sub.loc[df_ords_prods_merged_new['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [29]:
# checking value counts in new variable "price_range_loc"
df_ords_prods_merged_sub['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: count, dtype: int64

In [30]:
df_ords_prods_merged_sub.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Mid-range product
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product

### 03. If-Statements with For-Loops

In [35]:
# counting frequency of orders by day
df_ords_prods_merged_new['order_dow'].value_counts(dropna=False)

order_dow
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [36]:
# classifying days of the weeks by order frequency
result = []
for value in df_ords_prods_merged_new["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [37]:
# defining result
df_ords_prods_merged_new['busiest_day'] = result

In [38]:
# counting values in busiest_day column
df_ords_prods_merged_new['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## ---- Task 4.7. ----

##### Task 2:

In [39]:
df_ords_prods_merged_new.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,Busiest_days,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,nan,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,nan,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Busiest day,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,nan,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,nan,Least busy

In [41]:
# Finding the two busiest and two slowest days
day_counts = df_ords_prods_merged_new['order_dow'].value_counts()
busiest_days = day_counts.nlargest(2).index.tolist()
slowest_days = day_counts.nsmallest(2).index.tolist()

In [42]:
# Define a function to apply to the 'order_dow' column
def label_day(day):
    if day in busiest_days:
        return 'Busiest days'
    elif day in slowest_days:
        return 'Slowest days'
    else:
        return 'Regular days'

In [43]:
# Create the new column
df_ords_prods_merged_new['Busiest_days'] = df_ords_prods_merged_new['order_dow'].apply(label_day)

In [44]:
print(df_ords_prods_merged_new['Busiest_days'].value_counts())

Busiest_days
Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: count, dtype: int64

In [46]:
df_ords_prods_merged_new.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,Busiest_days,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Regular days,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Regular days,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Busiest days,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both,Slowest days,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Slowest days,Least busy
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both,Busiest days,Regularly busy
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.0,2,0,both,Regular days,Regularly busy
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.0,1,0,both,Slowest days,Regularly busy
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.0,1,0,both,Busiest days,Regularly busy
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.0,2,1,both,Busiest days,Regularly busy
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,prior,1,5,11,NaN,1,0,both,Regular days,Regularly busy
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,13,7.0,1,0,both,Slowest days,Regularly busy
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,13,7.0,3,1,both,Slowest days,Least busy
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,12,12.0,4,1,both,Regular days,Regularly busy
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,10,2.0,8,0,both,Slowest days,Regularly busy
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,prior,7,2,8,6.0,18,1,both,Regular days,Regularly busy
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,prior,9,5,8,10.0,12,1,both,Regular days,Regularly busy
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,prior,4,2,0,7.0,10,0,both,Regular days,Regularly busy
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,prior,5,1,21,6.0,9,1,both,Busiest days,Regularly busy
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,prior,6,1,0,14.0,9,1,both,Busiest days,Regularly busy

Answer: Saturdays and Sundays are the busiest days, while Tuesdays and Wednesdays are the slowest days. A list was created finding the strongest and weakest order days of the week. Then a if-function was set up using the criteria we established in the syntax finding the busiest/least busiest days.

#### Task 3:

In [47]:
# counting values in busiest_days column
df_ords_prods_merged_new['Busiest_days'].value_counts(dropna=False)

Busiest_days
Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: count, dtype: int64

##### Task 4:

In [48]:
# counting frequency of orders by hour of day
df_ords_prods_merged_new['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [50]:
# defining hour_counts & hour in df
hour_counts = df_ords_prods_merged_new['order_hour_of_day'].value_counts(dropna=False)
hours = df_ords_prods_merged_new['order_hour_of_day'].unique()

In [51]:
# Defining the busiest hours as top 25 percentile, average as in 25 to 75 percentile and slowest hours as bottom 25 percentile
busiest_hours = hour_counts[hour_counts > hour_counts.quantile(0.75)].index
average_hours = hour_counts[(hour_counts <= hour_counts.quantile(0.75)) & (hour_counts > hour_counts.quantile(0.25))].index
slowest_hours = hour_counts[hour_counts <= hour_counts.quantile(0.25)].index

In [53]:
# applying if-function to create new variable/column
def label_period(hour):
    if hour in busiest_hours:
        return 'Most orders'
    elif hour in average_hours:
        return 'Average orders'
    else:
        return 'Fewest orders'

In [54]:
# Apply the function to the 'order_hour_of_day' column
df_ords_prods_merged_new['busiest_period_of_day'] = df_ords_prods_merged_new['order_hour_of_day'].apply(label_period)

#### Task 5:

In [55]:
# printing the frequency of the column
print(df_ords_prods_merged_new['busiest_period_of_day'].value_counts())

busiest_period_of_day
Most orders       16128666
Average orders    15679865
Fewest orders       596328
Name: count, dtype: int64

In [57]:
df_ords_prods_merged_new.tail(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,Busiest_days,busiest_day,busiest_period_of_day
32404839,49688,Fresh Foaming Cleanser,73,11,13.5,1400940,166213,prior,1,1,21,NaN,4,0,both,Busiest days,Regularly busy,Average orders
32404840,49688,Fresh Foaming Cleanser,73,11,13.5,1219750,171743,prior,5,0,8,30.0,24,0,both,Busiest days,Busiest day,Average orders
32404841,49688,Fresh Foaming Cleanser,73,11,13.5,307087,172262,prior,4,6,11,30.0,15,0,both,Regular days,Regularly busy,Most orders
32404842,49688,Fresh Foaming Cleanser,73,11,13.5,2454083,176942,prior,2,6,20,3.0,8,0,both,Regular days,Regularly busy,Average orders
32404843,49688,Fresh Foaming Cleanser,73,11,13.5,2710528,178693,prior,26,5,10,3.0,18,0,both,Regular days,Regularly busy,Most orders
32404844,49688,Fresh Foaming Cleanser,73,11,13.5,1173882,178752,prior,7,0,23,21.0,28,0,both,Busiest days,Busiest day,Average orders
32404845,49688,Fresh Foaming Cleanser,73,11,13.5,1525694,178752,prior,15,5,10,30.0,3,1,both,Regular days,Regularly busy,Most orders
32404846,49688,Fresh Foaming Cleanser,73,11,13.5,2439069,182948,prior,4,6,16,13.0,1,0,both,Regular days,Regularly busy,Average orders
32404847,49688,Fresh Foaming Cleanser,73,11,13.5,2392655,182948,prior,8,2,11,16.0,28,1,both,Regular days,Regularly busy,Most orders
32404848,49688,Fresh Foaming Cleanser,73,11,13.5,848810,183548,prior,15,2,16,30.0,22,0,both,Regular days,Regularly busy,Average orders
32404849,49688,Fresh Foaming Cleanser,73,11,13.5,2251059,184081,prior,1,6,9,NaN,4,0,both,Regular days,Regularly busy,Average orders
32404850,49688,Fresh Foaming Cleanser,73,11,13.5,846716,187523,prior,14,3,11,9.0,8,0,both,Slowest days,Regularly busy,Most orders
32404851,49688,Fresh Foaming Cleanser,73,11,13.5,362546,188073,prior,5,2,4,30.0,4,0,both,Regular days,Regularly busy,Fewest orders
32404852,49688,Fresh Foaming Cleanser,73,11,13.5,3166828,188073,prior,7,1,15,30.0,5,1,both,Busiest days,Regularly busy,Most orders
32404853,49688,Fresh Foaming Cleanser,73,11,13.5,3106363,197371,prior,10,4,14,30.0,17,0,both,Slowest days,Least busy,Most orders
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,prior,2,0,9,5.0,27,0,both,Busiest days,Busiest day,Average orders
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,prior,1,4,11,NaN,5,0,both,Slowest days,Least busy,Most orders
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,prior,5,3,8,15.0,12,0,both,Slowest days,Regularly busy,Average orders
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,prior,9,3,15,5.0,11,1,both,Slowest days,Regularly busy,Most orders
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,prior,11,1,15,6.0,35,0,both,Busiest days,Regularly busy,Most orders

#### Task 7: Exporting in pkl

In [59]:
# Exporting data to pkl
df_ords_prods_merged_new.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_labeled.pkl'))